body {
    font-family: sans-serif;
    text-align: center;
    color: #0c67ae;
}

#jeu {
    width: 360px;
    height: 360px;
    border: 10px solid var(--Rouge);
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.226), inset 0px -1px 5.8px #404040f9;
     transform: scale(0.8);  /*à utiliser pour le responsive*/
}

#jeu img {
    width: 118px;
    height: 118px;
    border: 1px solid var(--Rouge);
}

.boutonPuzzle{
    height: fit-content;
    margin:auto;
}


@media screen and (min-width: 500px) {
    #jeu {
         transform: scale(1); /* à utiliser pour le responsive*/
    }
}