body{
    margin: 0;
    overflow: hidden;
    background-color: #7BC1B5;
}


/********************labirinthe*****************************************/

.plateau_jeu{
    display: grid;
    grid-template-columns: auto;
    position: fixed;
    transform: translateY(calc(100dvh - 1368px)) translateX( calc((100dvw * 0.5) - 432px));
}

.plateau_jeu>img {
    height: 1368px;  /* 200               2000  */
    width: 1800px;
    grid-area: 1/1/1/1;
    transition: 1s;
}

.plateau_jeu>.corp{
    height: fit-content;
    width: fit-content;
    grid-area: 1/1/1/1;
}

.corp>img{
    height: 72px;
    width: 72px;
    transition: 1s;
}

.corp{
    transform: translate(432px, 1296px) ;
}

/***********************************************************************/

.bull{
    background-color: rgb(255, 255, 255);
    width: fit-content;
    max-width: 100dvw;
    height: fit-content;
    padding: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.226), inset 0px -1px 5.8px #404040f9;
    border-radius: 16px;
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}




@media screen and (min-width: 850px) {
    /* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
    .plateau_jeu{
        display: grid;
        grid-template-columns: auto;
        position: fixed;
        transform: translateY(calc(100dvh - 1368px)) translateX(0px);
    }
}