:root {
    --Blanc: rgb(255, 255, 255);
    --Bleu: #7BC1B5;
    --Rouge: #D63030;
  }

body{
    margin: 0;
    overflow: hidden;
    background-color:var(--Bleu);
}


/********************labirinthe*****************************************/

.plateau_jeu{
    display: grid;
    grid-template-columns: auto;
    position: fixed;
    transform: translateY(calc(100dvh - 1368px)) translateX( calc((100dvw * 0.5) - 432px));
}

.plateau_jeu>img {
    height: 1368px;  /* 200               2000  */
    width: 1800px;
    grid-area: 1/1/1/1;
    transition: 1s;
}

.plateau_jeu>.corp{
    height: fit-content;
    width: fit-content;
    grid-area: 1/1/1/1;
}

.corp>img{
    height: 72px;
    width: 72px;
    transition: 1s;
}

.corp{
    transform: translate(432px, 1296px) ;
}

/***********************************************************************/

.bull{
    background-color:var(--Blanc);
    width: fit-content;
    max-width: 90dvw;
    height: fit-content;
    padding: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.226), inset 0px -1px 5.8px #404040f9;
    border-radius: 16px;
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    position:relative;
    z-index: 2;
    margin: 0px auto 0px auto;
}

.bull>img{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-35px, 25px);
    z-index: 1;
}

header{
    display: flex;
}

.Binfo{
    background-color: var(--Rouge);
    height: 40px;
    width: 40px;
    padding: 11px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.226), inset 0px -1px 5.8px #404040f9;
    border: none;
    margin: 20px 20px 0px auto;
}


.footer{

}

.bouton{
    background-color: var(--Rouge);
    color: var(--Blanc);
    height: 18px;
    width: fit-content;
    padding: 11px 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.226), inset 0px -1px 5.8px #404040f9;
    border: none;
    margin: 20px 20px 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
}



/****************Personage*guide************************************************************************************/

.guide{
    position: relative;
    width: fit-content;
    height:59.3dvw;
    max-height: 80dvh !important;
    margin: 0 auto 0 auto;
}

.guide>svg{
    width:90dvw;
    /* height:59.3dvw; */
    max-width: 600px;
    max-height: 80dvh !important;
    justify-self: center;
}

.oeilG, .oeilD{
    position: absolute;
    height: 7.3dvw; /*23px*/
    width: 5.4dvw; /*17px*/
    max-width: 36px;
    max-height: 49px;
/*     background: linear-gradient(rgba(0, 0, 0, 0) 0%, black 0%,black 100%,rgba(0, 0, 0, 0) 100%);
 */    border-radius: 50%;
    animation: yeuxcligne 3s ease-in-out infinite alternate;
    fill: none;
    margin: -47% 50%;
    transform: translate(-50%);
}

.oeilG{
    transform: translate(-190%);
}
.oeilD{
    transform: translate(40%);
}

.mainG, .mainD{
    animation: mainflotte 1.5s ease-in-out infinite alternate;
}

@keyframes mainflotte {
    from {
      transform: translate(0%,-5%);
    }
    to {
        transform: translate(0%,0%);
    }
  }

  @keyframes yeuxcligne {
    from {
/*         background: linear-gradient(rgba(0, 0, 0, 0) 0%, black 0%,black 100%,rgba(0, 0, 0, 0) 100%);
 */ 
        box-shadow: 0 200px 100px -100px rgb(0, 0, 0) inset; 
        transition: box-shadow 1s;
    }
    to {
/*         background: linear-gradient(rgba(0, 0, 0, 0) 50%, black 50%,black 50%,rgba(0, 0, 0, 0) 50%);
 */ 
        box-shadow: 0 200px 100px -100px rgb(0, 0, 0) inset;
    }
  }



@media screen and (min-width: 850px) {
    /* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
    .plateau_jeu{
        display: grid;
        grid-template-columns: auto;
        position: fixed;
        transform: translateY(calc(100dvh - 1368px)) translateX(0px);
    }
}