body{
    margin: 0;
    overflow: hidden;
}


.plateau_jeu{
    display: grid;
    grid-template-columns: auto;
    position: fixed;
    transform: translateY(calc(100dvh - 1368px)) translateX( calc((100dvw * 0.5) - 432px));
}

.plateau_jeu>img {
    height: 1368px;  /* 200               2000  */
    width: 1800px;
    grid-area: 1/1/1/1;
    transition: 1s;
}

.plateau_jeu>.corp{
    height: fit-content;
    width: fit-content;
    grid-area: 1/1/1/1;
}

.corp>img{
    height: 72px;
    width: 72px;
    transition: 1s;
}

.corp{
    transform: translate(432px, 1296px) ;
}





@media screen and (min-width: 850px) {
    /* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
    .plateau_jeu{
        display: grid;
        grid-template-columns: auto;
        position: fixed;
        transform: translateY(calc(100dvh - 1368px)) translateX(0px);
    }
}